// reset
@import "base/reset";
// mixin
@import "mixin/mixin";
// base
@import "base/font";
@import "base/color";
// component
@import "component/btn";
// layout
@import "layout/cactus";
// page
@import "page/index";
// animation
@import "animation/animation";

body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: $pink_light;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}

// 垂直置中
.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// 粗體
.bold{
  font-weight: bold;
}

// 底線
.overline{
  text-decoration: underline;
  text-underline-position: under;
}



