// reset
@import "base/reset";

// 字型

// mixin
@import "mixin/mixin";

// base
@import "base/font";
@import "base/color";

// component
@import "component/btn";

// layout

// page
@import "page/index";

body {
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
